<%= javascript_pack_tag 'numberCounter', 'data-turbolinks-track': 'reload', defer: true %>
<%= javascript_pack_tag 'barChart', 'data-turbolinks-track': 'reload', defer: true %>

<% if Rails.env.development?%>
<script>
  console.log('Accounts Count: <%=@accounts.count%>')
  console.log('Goals Count: <%=@goals.count%>')
  console.log('User ID: <%=current_user.id%>')
  console.log('Accounts Total: <%=@accounts_balance%>')
  console.log('Goals Total: <%=@goals_total%>')
  console.log('Goals data: <%=@goals_data%>')
  console.log('Accounts data: <%=@accounts_data%>')
  
</script>
<% end %>
<div class="container pt-4 text-center">
  <h1 class="dash-welcome-header">Welcome to your Dashboard!</h1>
  <div class="counter-main dash-main row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 dash-accounts"> <!-- Start Accounts -->
      <div class="dash-accounts flex d-flex">
        <div class="col-6 dash-card accounts-count p-0">
          <h3><%= pluralize(@accounts.count, "Account") %> Total</h3>
          <br>
          <%account_num = currency_pretty(amount:@accounts_balance)%>
          <div id="jsCounter" class="jsCounter counter_style" data-number="<%= account_num[:amount] %>" data-prefix="<%= account_num[:symbol] %>"></div>
        </div>
        <div class="col-6 dash-card accounts-total p-0">
          <h3>Total Accounts</h3>
          <br>
          <div class="counter_style"><%= @accounts.count %></div>
        </div>
        <div class="col-12 p-0">
        <% if !@accounts_data.empty?%>
          <h3><%= pluralize(@accounts.count, "Account") %> Chart</h3>
          <div id="barChart" class="dash-chart accounts-chart" data-chartData="<%=@accounts_data.to_json%>"></div>
        <% end %>          
        </div>

      </div>
    </div>
    <!-- End Accounts -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 dash-goals"> <!-- Start Goals -->
      <div class="dash-goals">
        <div class="col-6 dash-card goals-count">
          <h3><%= pluralize(@goals.count, "Goal") %> Total</h3>
          <br>
          <%goal_num = currency_pretty(amount:@goals_total)%>
          <div id="jsCounter" class="jsCounter counter_style" data-number="<%= goal_num[:amount] %>" data-prefix="<%= goal_num[:symbol] %>"></div>
        </div>
        <div class="col-6 dash-card accounts-total">
          <h3>Total Goals</h3>
          <br>
          <div class="counter_style"><%= @goals.count %></div>
        </div>
        <% if !@goals_data.empty?%>
          <div class="col-12"">
            <h3><%= pluralize(@goals.count, "Goal") %> Chart</h3>
            <div id="barChart" class="dash-chart goals-chart" data-chartData="<%=@goals_data.to_json%>"></div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- End Goals -->
  </div>
</div>
