<script>
  console.log("Goals Count: <%= @goals.count %>")
</script>
<div class="container">
  <h1>Here are your goals</h1>
  <%= link_to "Create a new goal", new_goal_path %>
  <div class="cards">
    <% @goals.each do |goal| %>
      <div class="goal-card card flex-row shadow">
        <div class="goal-img-container col-xs-6 col-s-3 col-m-3 col-l-3 col-xl-3 col-xxl-3">
          <img class="goal-img" src="https://www.incharge.org/wp-content/uploads/2015/06/Financial-Budget-Goals-300x241.gif" alt="" class="card-img">
        </div>
        <div class="col-xs-6 col-s-9 col-m-9 col-l-9 col-xl-9 col-xxl-9">
          <div class="progress m-auto" style="height:20px;width:100%;">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="<%=goal.current_amount%>" aria-valuemin="0" aria-valuemax="<%=goal.target_amount%>" style="width: <%= goal.goal_percent_complete %>%"><%= goal.goal_percent_complete %>%</div>
          </div>
          <h5 class="card-title"><%=goal.name.capitalize%></h5>
          <h2><%= goal.goal_percent_complete %></h2>
          <p><%= link_to goal.name, goal_path(goal) %><%=" - #{goal.current_amount ? goal.current_amount : 0}/#{goal.target_amount} - #{goal.target_due_date} - " %><%= link_to "Delete", goal_path(goal), method: :delete, data: { confirm: "Are you sure?" } %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
