<%= javascript_pack_tag 'progressBar', 'data-turbolinks-track': 'reload', defer: true %>
<%= javascript_pack_tag 'hideShowElement', 'data-turbolinks-track': 'reload', defer: true %>
<%= javascript_pack_tag 'pieChart', 'data-turbolinks-track': 'reload', defer: true %>
<%= javascript_pack_tag 'numberCounter', 'data-turbolinks-track': 'reload', defer: true %>
<script>
  function hideShowElement(element_args) {
    var element = document.getElementById(element_args)
  
    if (element.style.display === "none") {
      element.style.display = "";
    } else {
      element.style.display = "none";
    }
  }
  console.log('<%=@goals_data%>')
</script>
<div class="container">
  <h1>Here are your goals</h1>
  <button id="goal-summary" onclick="hideShowElement('goal-summary-chart')" class="btn btn-primary"><i class="fas fa-eye"></i> Summary</button>
  <%= link_to "Create a new goal", new_goal_path, class: "btn btn-primary" %>
  <!-- Goals stats start -->
  <div class="goal-summary-chart row" id="goal-summary-chart">
    <div class="goal-summary-item col-6">Total Savings: 
      <div id="jsCounter" class="goal-total-counter" data-number="<%= @goals_total_count %>" data-prefix="£"></div>
    </div>
    <div class="goal-summary-item col-6">
      <div id="ampieChart" data-pie="<%=@goals_data.to_json%>"></div>
    </div>
  </div>
  <!-- Goals stats END-->
  <!-- Hide / Show chart on button press -->
  <div class="cards">
    <% @goals.each do |goal| %>
      <div class="goal-card card flex-row shadow">
        <div class="goal-img-container">
          <div id="avatar-progress" class="avatar-progress" data-icon="<%= goal.goal_categories_icon %>" data-percent="<%= goal.goal_percent_decimal.round(2) %>"></div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h4 class="card-title"><%=goal.name.capitalize%></h4>
            </div>
          </div>
          <p>Goal progress: <%= goal.current_amount ? goal.current_amount : 0 %> / <%= goal.target_amount %></p>
          <p>Due Date: <%= goal.pretty_date(goal.target_due_date) %></p>
          <p><%= link_to "View", goal_path(goal) %>
            <%= link_to "Edit", edit_goal_path(goal) %>
            <%= link_to "Delete", goal_path(goal), method: :delete, data: { confirm: "Are you sure?" } %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
