<script>console.log("Goals Count: <%= @goals.count %>")</script>
<h1>Here are your goals</h1>
<%= link_to "Create a new goal", new_goal_path %>
<% @goals.each do |goal| %>
  <p><%= link_to goal.name, goal_path(goal) %><%=" - #{goal.current_amount ? goal.current_amount : 0}/#{goal.target_amount} - #{goal.target_due_date} - " %><%= link_to "Delete", goal_path(goal), method: :delete, data: { confirm: "Are you sure?" } %></p>
<% end %>
