<script>
  console.log("<%=@goal.goal_categories.to_a%>")
</script>
<div class="container text-center">
  <h3>Hello, <%= current_user.first_name %>! Just fill in this form already if u wanna add a goal:</h3>
  <%= simple_form_for(@goal) do |goal| %>
    <%= goal.input :name %>
    <%= goal.input :category, collection: @goal.goal_categories %>
    <%= goal.input :target_amount %>
    <%= goal.input :target_due_date %>
    <%= goal.input :start_date %>
    <%= goal.submit class: 'btn btn-primary' %>
  <% end %>
</div>
