<div class="container pt-4 text-center">
  <h1>You have <%= @accounts.count %> Account<%=pluralize_string(data: @accounts, letter: 's')%> with Fin-Man:</h1><br>
  <%= link_to "Add a new account", new_account_path, class: "btn btn-primary" %>
  
  <div class="d-flex justify-content-around flex-wrap">
    <% @accounts.each do |account| %>
      <%= link_to account_path(account.id) do %>
        <div class="account-card">
          <div class="d-flex justify-content-center">
            <%= image_tag "icons/#{account.account_categories_icon}", class: "bank-icon mr-2" %>
            <h5 class="card-title">- <%= account.bank_name %></h5>
          </div>
          <p class="card-text">Balance: <%= currency_pretty(amount: account.balance, currency: account.currency)[:format] %></p>
          <p class="card-text">Account number: <%= account.account_number %></p>
          <p class="card-text">Sort code: <%= account.sort_code_pretty %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
