<h1>You have <%= @accounts.count %> <%= @accounts.count == 1 ? "account" : "accounts"  %> with Fin-Man:</h1>
<div class="container card-deck">
  <% @accounts.each do |account| %>
    <div class="card d-flex">
      <h5 class="card-title"><%= account.bank_name %></h5>
      <p class="card-text"><%= account.currency %></p>
      <p class="card-text"><%= account.account_number %></p>
      <p class="card-text"><%= account.sort_code %></p>
      <p class="card-text"><%= account.balance %></p>
    </div>
  <% end %>
</div>
