<div class="form-container text-center mt-4">
  <h3><%= current_user.first_name %>, fill in this form to add an account:</h3>
  <%= simple_form_for(@account) do |a| %>
    <%= a.input :bank_name, collection: @account.account_categories %>
    <%= a.input :account_number %>
    <%= a.input :sort_code %>
    <%= a.input :balance %>
    <%= a.submit class: 'btn btn-primary' %>
  <% end %>
</div>
