<div class="container">
  <h5 class="card-title"><%= @account.bank_name %></h5>

  <div class="account-details">
    <p class="card-text details-card-title">Account details</p>
    <div class="details-card-text">
      <div>Account balance: <%= @account.balance %></div>
      <div>Account currency: <%= @account.currency %></div>
      <div>Account number: <%= @account.account_number %></div>
      <div>Account sort code: <%= @account.sort_code %></div>
    </div>
  </div>

  <div class="account-transactions">
    <% if @account.transactions.blank? %>
      <p>There are currently no transactions for this account. You can add a transaction below.</p>
    <% else %>
      <div>
        <div class="d-flex">
          <p>Here you can see the last 5 transations for this account. If you want to see a full list of transations, please click <b><%= link_to "here", account_transactions_path(@account) %></b>.</p>
        </div>
        <% @account.transactions.last(5).reverse.each do |transaction| %>
          <div class="d-flex">
            <div class="transacitons-attr">Amount: <%= transaction.amount %></div>
            <div class="transacitons-attr">Recipient: <%= transaction.recipient %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  </br></br>
  <h5 class="card-title">Add a transaction</h5>
  <%= simple_form_for([@account, @transaction], remote: true) do |f| %>
    <%= f.input :recipient %>
    <%= f.input :amount %>
    <%= f.input :time, as: :date, html5: true %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
